/* Write your CSS here */
.display-text {
  font-family: roboto;
  font-size: 20px;
  margin: 15px;
  color: #7b8794;
  background-color: transparent;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
}

.active-tab {
  color: #2563eb;
}
